*{padding: 0px;margin: 0px;list-style: none;}
html, body,.box{height:100%}
body {font: 1em;}
a{color:#333;text-decoration: none;}
a:hover{color: #009fde;text-decoration: underline;}
header{background-color:#2577e3;color:#fff;padding:1em;}
header h1{font-size:1em;}
.box{display:-webkit-box;display:box;font-size:0.875em}
.left{width:10em;height:100%;text-align:center;}
.left li{line-height:1.5;border-bottom:1px solid #ccc;padding:0.5em 0;}
.right{height:100%;box-flex:1;-webkit-box-flex:1;border-left: 1px solid #ccc;padding:1.5em;}
.content,.classify{padding:1.5em;border:1px solid #ccc;box-shadow:0 0 0.2em #ccc}
.content section{padding:1.5em;border:1px solid #ccc;box-shadow:0 0 0.2em #ccc;margin: 0 0 1.5em 0}
.content section:hover{border:1px solid #009fde;box-shadow:0 0 0.1em #0a56bb;}
.content section h2{font-size:0.875em}
@media screen and (max-width:20em){
.box{box-orient: vertical; -webkit-box-orient:vertical;}
.right{padding:0px;}
.left{width:100%}
}
.classify p{display:-webkit-box;display:box;width:100%}
.classify p input{padding:1em}
.classify p input:first-child{border:1px solid #ccc;}
.classify p input:last-child{border:1px solid #2577e3;background-color:#2577e3;color:#fff;}
.classify  div div{border:1px solid #ccc;box-shadow:0 0 0.2em #ccc;margin:1em 0;padding:1em;}
.classify  div div:hover{border:1px solid #009fde;box-shadow:0 0 0.1em #0a56bb;}