*{padding: 0px;margin: 0px;list-style: none;}
html, body{height:100%}
body {font: 1em;font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }
a{color:#fff;text-decoration: none;}
a:hover{color: #009fde;text-decoration: underline;}
header{background-color:#000;color:#fff;padding:1em;}
header h1{font-size:1em;}
.box{display:-webkit-box;display:box;}
.left{width:15em;height:100%;}
.left h1{text-align:center;}
.left li{line-height:1.5;border-bottom:1px solid #ccc;padding: 1em 0 1em 2em;box-shadow:0 0 0.2em #ccc;}
.left li a{color:#30a5ff}
.right{box-flex:1;-webkit-box-flex:1;border-left: 1px solid #ccc;padding:1em 1em 0;background-color:#f2f4f8;color:#000}
.classify{display:box;display:-webkit-box;box-direction:reverse;-webkit-box-direction:reverse}
.classify_left{width:25em;}
.classify_left h2{background:#f9243f;text-align:center;color:#fff;font-size:1em;padding:1em 0;border-top-left-radius:0.5em;border-top-right-radius:0.5em}
.classify_left input{width:100%;padding:1em 0;border:0px;}
.classify_left p:last-child input{background-color:#009fde;color:#fff;font-weight:bold;border-bottom-left-radius:0.5em;border-bottom-right-radius:0.5em}
.classify_right{box-flex:1;-webkit-box-flex:1;margin-right:1em;}
.classify_right section{box-direction:normal;-webkit-box-direction:normal;display:box;display:-webkit-box;padding:1em;border:1px solid #ccc;background:#fff;box-shadow:0 0 0.2em #ccc;margin: 0 0 1em 0;border-radius:0.5em}
.classify_right section span{display:block;font-family:Arial}
.classify_right section span:nth-child(1){width:2.5em}
.classify_right section span:nth-child(2){box-flex:1;-webkit-box-flex:1;color: #009fde;font-weight:bold;}
.classify_right section span:nth-child(3){font-size:1.2em;color:#f9243f}
.classify_right section:hover{border:1px solid #009fde;box-shadow:0 0 0.1em #0a56bb;background-color:#009fde;color:#fff}
.classify_right section:hover span{color:#fff}
.message{overflow:hidden}
.message div{margin: 0 0 1em 0;font-size: 0.875em;color:#333}
.message input{width:100%;padding:0.5em 0}
.content section{padding:1em;border:1px solid #ccc;box-shadow:0 0 0.2em #ccc;margin: 0 0 1em 0;background-color:#fff;}
.content section:hover{border:1px solid #009fde;box-shadow:0 0 0.1em #0a56bb;}
.content section h2{font-size:1em;color:#009fde}
.content section a{color:#009fde}
.content section .time{font-size:0.75em;margin:1em 0}
.content section .introduction{font-size:0.75em;line-height:1.5em;margin:0.5em 0 0 0}
.content section p span{margin:0 0.5em}
.content section .read{font-size:0.75em;}
@media screen and (max-width:60em){
    header{margin: 0 0 1em 0}
    .box{box-orient: vertical; -webkit-box-orient:vertical;}
    .right{padding:0px;}
    .left{width:100%;height:auto;margin: 0 0 1em 0;display:none}
    .classify{box-orient: vertical; -webkit-box-orient:vertical;box-direction:normal;-webkit-box-direction:normal}
    .classify_left{width:100%;margin-bottom:1em}
    .classify_right{margin:0}
}
