*{
  padding: 0px;
  margin: 0px;
  list-style: none;
}
a{
  color:#333;
  text-decoration: none;
}
a:hover{
  color: #009fde;
  text-decoration: underline;
}
body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(90deg, #ffffff 0%, #e4e4e4 50%, #ffffff 100%);
}
.box{
  max-width: 1000px;
  width:80%;
  margin:0 auto;
  background: #fff;
  padding:0 30px;
}
header{
  padding:5px 0;
  margin-bottom: 15px;
}
.container{
  display: box;
  display: -webkit-box;
}
.left{
  width:100%;
}
.left article{
  padding:0 0 35px 0;
  margin: 0 0 35px 0;
  border-bottom: 1px dashed #ccc;

}
.left article:last-child{
  border: 0px;
  padding: 0px;
}
.left article h2 {
  font-size: 16px;
  margin-bottom: 15px;
}
.left article .introduction {
  font-size: 12px;
  line-height: 2.0;
}
.left article .read{
  text-align: right;
}
