*{padding: 0;margin: 0;list-style: none;}
a{color:#fff;text-decoration: none;}
header{background-color:#000;padding:2em 0;margin: 0 0 2em 0;box-shadow:0.1em 0.1em 0.1em white}
header div{max-width: 50em;margin:0 auto;width:96%}
body {font: 1em;background-color:#333;}
.container{max-width: 50em;margin:0 auto;width:96%;color:#fff;}
.container a{color:#fff;}
.container a:hover{color: #099fde;text-decoration: underline;transition:all 1s ease 0s}
article{margin:0 0 3em 0;}
article h2{font-size:1.2em;margin-bottom:1em}
article .time{font-size:0.4em}
article p{margin: 0.5em 0 0 0;font-size:0.875em;}
article .introduction{line-height:1.5em;font-size:1em;margin:1.5em 0}
article .read a{text-decoration: underline;}
.page li{display:inline-block;padding:0.5em;}
.page .active a{color: #099fde;}